<!DOCTYPE html>
<html ng-app="smsApp">
<head>
<meta charset="ISO-8859-1">
<title>Student Mark Sheet V-VIII</title>
<!-- jQuery -->
<script src="./../views/lib/jquery/jquery-2.1.4.min.js"></script>
<!-- bootstrap -->
<script src="./../views/lib/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="./../views/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="./../views/lib/bootstrap/css/bootstrap-theme.min.css" />
<!-- bootstrap file input -->
<script
	src="./../views/lib/bootstrap-file-input/js/plugins/canvas-to-blob.min.js"></script>
<script src="./../views/lib/bootstrap-file-input/js/fileinput.min.js"></script>
<link rel="stylesheet"
	href="./../views/lib/bootstrap-file-input/css/fileinput.min.css" />
<!-- moment js -->
<script src="./../views/lib/scripts/moment-2.10.6.min.js"></script>
<!-- bootstrap date-time picker -->
<script
	src="./../views/lib/scripts/bootstrap.datetimepicker.4.14.30.min.js"></script>
<link rel="stylesheet"
	href="./../views/lib/css/bootstrap.datetimepicker.4.14.30.min.css" />
<!-- icheck -->
<script src="./../views/lib/scripts/icheck.js"></script>
<link rel="stylesheet" href="./../views/lib/css/grey.css" />
<link rel="stylesheet" href="./../views/lib/css/ionicons.min.css" />
<!-- respond -->
<script src="./../views/lib/scripts/respond.min.js"></script>
<!-- angular -->
<!-- <script src="./../views/lib/angular/angular.min.js"</script> -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<!-- Custom scripts/css -->
<link rel="stylesheet" href="./../views/css/main.css" />
<script src="./../views/script/custom.js"></script>
<script src="./../views/script/angular/app.js"></script>
<script src="./../views/script/angular/controller/WebServices.js"></script>
<script src="./../views/script/angular/controller/controller.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#navDiv").load("./../views/html/navigation.html");
	});//end of ready
</script>
</head>
<body ng-controller="smsController">
	<header>School Management System</header>

	<div id="navDiv"></div>
	<div id="markSheetEntryDiv" class="markSheetEntryDiv">
		<div class="markSheetEntryPanel panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Student Mark Sheet V-VIII :</h4>
			</div>
			<div class="panel-body">

				<div class="row">
					<div class="col-xs-2">
						<label for="academicYear" class="control-label">Academic
							Year :</label>
					</div>
					<div class="col-xs-3">
						<div class="select-div" id="academicYear">
							<select class="form-control" ng-model="selectedYear"
								ng-options="y for y in years" id="academicYear"
								name="academicYear">
								<option value="">~ Select Year ~</option>
							</select>
						</div>
					</div>
					<div class="col-xs-2">
						<label for="semester" class="control-label">Select
							Semester:</label>
					</div>
					<div class="col-xs-3">
						<div class="select-div" id="semester">
							<select class="form-control" id="semester" name="semester"
								ng-model='student.semester'>
								<option value="">~Select Semester~</option>
								<option value="semester-1">Semester 1</option>
								<option value="semester-2">Semester 2</option>
								<option value="semester-3">Semester 3</option>
								<option value="semester-4">Semester 4</option>
							</select>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-xs-2">
						<label for="examination" class="control-label">Select
							Examination:</label>
					</div>
					<div class="col-xs-3">
						<div class="select-div" id="examination">
							<select class="form-control" id="examination" name="examination"
								ng-model="student.examination">
								<option value="">~Select Examination Name~</option>
								<option value="formative">Formative</option>
								<option value="summative">Summative</option>
							</select>
						</div>
					</div>
					<div class="col-xs-2">
						<label for="class" class="control-label">Class :</label>
					</div>
					<div class="col-xs-3">
						<div class="select-div" id="class">
							<select class="form-control" ng-model="selectedClass"
								ng-options="c for c in classes | limitTo:4" id="class"
								name="class">
								<option value="">~ Select Class ~</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
						<label for="Section" class="control-label">Section : </label>
					</div>
					<div class="col-xs-3">
						<div class="select-div" id="section">
							<select class="form-control" id="section" name="section"
								ng-model="student.section">
								<option value="">~Select Section~</option>
								<option value="A">Secion-A</option>
								<option value="B">Secion-B</option>
								<option value="C">Secion-C</option>
								<option value="D">Secion-D</option>
							</select>
						</div>
					</div>
				</div>

				<br />
				<div class="row">
					<table class="table table-hover markSheetEntryTable">
						<thead>
							<tr>
								<th align="center">Roll Number</th>
								<th align="center">Student Name</th>
								<th align="center">Section</th>
								<th align="center">Participation/1ST Language</th>
								<th align="center">Question & Experimentation/2nd Language</th>
								<th align="center">Interpretation & Application/3rd
									Language</th>
								<th align="center">Empathy Co-Operation/Mathematics</th>
								<th align="center">Aesthetic and Creative
									Expression/Poribesh O Bigyan</th>
								<th align="center">Environment & History</th>
								<th align="center">Environment & Geography</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td align="center">1</td>
								<td align="center">Bill Gates</td>
								<td align="center">Section-A</td>
								<td align="center">76</td>
								<td align="center">70</td>
								<td align="center">50</td>
								<td align="center">76</td>
								<td align="center">70</td>
								<td align="center">50</td>
								<td align="center">50</td>

							</tr>
							<tr>
								<td align="center">2</td>
								<td align="center">Narendra Modi</td>
								<td align="center">Section-B</td>
								<td align="center">79</td>
								<td align="center">78</td>
								<td align="center">60</td>
								<td align="center">79</td>
								<td align="center">78</td>
								<td align="center">60</td>
								<td align="center">50</td>

							</tr>
						</tbody>
					</table>
				</div>

				<br />
				<hr>
				<center>
					<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</body>
</html>