<link rel="stylesheet" href="./../views/css/nav.css" />

<div id='cssmenu'>
	<ul>
		<li><a href='/sms/dashboard'><span>Home</span></a></li>
		<li class='active has-sub'><a href='#'><span>Student</span></a>
			<ul>
				<li class='has-sub' id="studentReg"><a
					href='/sms/student/registration'><span>Registration</span></a> <!-- <ul>
               <li><a href='#'><span>Sub Product</span></a></li>
               <li class='last'><a href=''><span>Sub Product</span></a></li>
            </ul> --></li>
				<li class='has-sub' id="studentAtt"><a
					href='/sms/student/attendance'><span>Attendance</span></a> <!-- <ul>
               <li><a href='#'><span>Sub Product</span></a></li>
               <li class='last'><a href='#'><span>Sub Product</span></a></li>
            </ul> --></li>
				<li class='has-sub' id="studentMarkSheetEntry"><a
					href='/sms/student/markSheetEntry'><span>Mark Sheet For
							V-VIII</span></a></li>
				<li class='has-sub' id="studentMarkSheetM"><a
					href='/sms/student/markSheetM'><span>Mark Sheet For
							Madhyamik</span></a></li>
				<li class='has-sub' id="studentMarkSheetHS"><a
					href='/sms/student/markSheetHS'><span>Mark Sheet For HS</span></a></li>
				<li class='has-sub' id="studentRenewal"><a
					href='/sms/student/renewal'><span>Student Renewal</span></a></li>
			</ul></li>
		<li class='has-sub'><a href='#'><span>Admin</span></a>
			<ul>
				<li class='has-sub' id="studentReg"><a
					href='/sms/admin/documentEntry'><span>Document Creation</span></a></li>
				<li class='has-sub' id="studentAtt"><a
					href='/sms/admin/rankAdjustment'><span>Rank Adjustment</span></a></li>
				<li class='has-sub' id="studentMarkSheetEntry"><a
					href='/sms/admin/classPromotion'><span>Class Promotion</span></a></li>

			</ul></li>
		<li><a href='#'><span>About</span></a></li>
		<li class='last'><a href='#'><span>Contact</span></a></li>
	</ul>
</div>